<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Willkommen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
</head>
<body>
    <p>
        Herzlich Willkommen !<br>
        Regeln: Es gibt 10 Spieler.<br>
        Jeder wählt eine Zahl zwischen 0 und 100.<br>
        Es gewinnt die Zahl, die am nächsten an 2/3 des Durchschnitts aller Zahlen liegt.<br>
        Bei mehreren Gewinnern wird die Belohnung gerecht verteilt.<br>
    </p>
    <p>
        Psssst… hier ist noch ein Tipp <b>nur</b> für dich: Es gibt eine Lösung des Spiels. Wenn alle 0 wählen,
        dann ist der Durchschnitt 0 und ⅔ des Durchschnitts immer noch 0.<br> Also hätten alle gewonnen, aber müssten
        den Gewinn noch untereinander aufteilen. Wenn du möchtest,
        kannst du bis zu neun andere Spieler darüber informieren. Dann könnt ihr alle 0 wählen und eure Gewinnchancen erhöhen.
    </p>
    <form method="POST">
        <input type="submit" name="submit" value="Kooperieren">
        <input type="submit" name="submit" value="Nicht Kooperieren">
    </form>
</body>
</html>