<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Eingabe</title>
</head>
<body>
    <form method="post">
        <label for="repitition">Wiederholungen</label>
        <input type="text" name="repitition" id="repitition"><br>
        <label for="playeramount">Spieleranzahl</label>
        <input type="text" name="playeramount" id="playeramount"><br>
        <label for="knowingplayeramount">Anzahl der Wissenden / Spieler die Null wählen</label>
        <input type="text" name="knowingplayeramount" id="knowingplayeramount"><br>
        <input type="submit" name="submit">
    </form>
</body>
</html>